
.header{
  position: fixed;
  background-color: white;;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 0px;
  z-index: 100;
}

h1{
  font-size: 50px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 900;
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: 'Times New Roman', Times, serif
}

.aboutme-buttons{
  font-family: 'unbounded';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px -2px lightgray;
  padding-bottom: 6px;
  border-top: none;
  border-top-color: #000302;
}

.aboutme-buttons a{
  border: none;
  flex:1;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-family: arial;
  background-color: white;
  color: #000302;
  cursor: pointer;
  transition: background-color 0.15s;
  transition: color 0.15s;
  letter-spacing: 1.5px;
  white-space: nowrap;
  
}

.aboutme-buttons a:hover{
  background-color: #000302;
  color: white;
}

.aboutme-buttons a:active{
  opacity: 0.6;
}

a{
  text-decoration: none;
  color:#000302;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  background-color: white;
}




