.myprofile-picture{

  object-fit: cover;
  object-position: top;
  border-radius: 50px;
}
.sidebar{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  font-family: 'unbounded';
  box-shadow: 4px 0px 2px -2px lightgray;
  padding-right: 3px;
  border-right-color: #000302;
  z-index: 50;
}

.myprofile-picture-container{
  object-fit: cover;
  width: 180px;
  z-index: 50;
  height: 260px;

}

.status-bar{
  flex:1;  
}

.status{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
  row-gap: 10px;
}

.status img{
  width: 20px;
  
}
